body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.submit-area{
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px gray;
    padding: 50px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.common-class{
    margin: 0 30px;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
}


