body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.submit-area{
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px gray;
    padding: 50px;
}
#transaction-area{
    display: none;
}
.Deposite{
    background-color:slateblue ;
}
.Withdraw{
    background-color: lightsalmon;
}
.Balance{
    background-color: orange;
}
.common-class{
    text-align: center;
    border-radius: 20px;
    color: white;
    padding: 20px;
   
}